/* make the customizations */

.testhehe {
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.divCards {
    flex: auto;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";